<a href="https://colab.research.google.com/github/623020514-5/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [1]:
import pandas #เรียกใช้ package เพื่อนำเข้าโดยใช้คำสั่ง import แล้วตามด้วยชื่อ package

In [2]:
import pandas as pd #เป็นการนำเข้าเหมือนกับด้านบน แต่ตั้งชื่อให้เป็น pd เพื่อให้ใช้งานง่ายขึ้น

ไฟล์ .csv (CSV = comma separated values )จะใช้เก็บข้อมูลตาราง อ่านง่าย คนอ่านได้คอมอ่านได้ จะจัดเก็บตารางและใช้งานง่ายกว่า ไฟล์ word

how to csv file

1.เข้าไปที่ ไฟล์

![image.png]()

2.คลิ๊กขวาแล้วกด New file แล้วตั้งชื่อไฟล์ จากนั้นคลิ๊กที่ไฟล์

3.ใส่หัวคอลัมน์ เช่น name,age,city

4.ใส่ข้อมูลให้ตรงกับหัวคอลัมน์ เช่น อ้อณ,21,Ubon

5.เมื่อใส่ข้อมูลครบแล้วให้กากบาทออก แล้วไปเปลี่ยนสกุลไฟล์เป็น .csv

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## variable


 มาร์คดาวน์ เป็นการทำหัวข้อ หรือทำให้ข้อความดูเด่นขึ้น

การตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรคให้ใช้ _ แทนก็ได้

2. ให้ใช้ English ไทยอาจได้บางโปรแกรม แต่ไม่ควร ดังนั้น พยายามใช้ชื่

3. ตัวพิมพ์เล็กพิมพ์ใหญ่แตกต่างกัน ไม่ถือเป็นตัวเดียวกัน case sensitive

4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12 
variable_b = 'abcde' # '' เรียกว่า โค้ด quote แสดงข้อมูลว่าเป็นข้อความ ตัวอักษรหรือ string
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

In [10]:
variable a # ทดลองตั้งใช้โดยเว้นวรรค

SyntaxError: ignored

In [11]:
ตัวแปร = 3 #ไม่ควรตั้งชื่อตัวแปรเป็นภาษาไทย
ตัวแปร

3

In [13]:
#case sensitive
v_a = 1
v_a = 2
print(v_a)
print(v_a) # จะอ่านตัวที่ป้อนล่าสุด

2
2

In [14]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า แต่ใช้ตัวเลขเป็นตัวหลังได้
2ab = 1

SyntaxError: ignored

In [16]:
variable_a = 12 
variable_b = 'abcde' # '' เรียกว่า โค้ด quote แสดงข้อมูลว่าเป็นข้อความ ตัวอักษรหรือ string
variable_c = variable_a
variable_d = -41.2 # ค่าโฟล์ท
variable_4 = "KKU" # string สามารถเลือกใช้ quote = ' ' หรือ Double quote = ""

In [21]:
variable_x = variable_c + variable_d
variable_x
print(variable_x)

-29.200000000000003

In [18]:
# ไม่สามารถเอาตัวเลขบวกกับตัวอักษร
variable_a + variable_b

TypeError: ignored

In [19]:
print(variable_b + variable_4) #ทดลองนำตัวอักษรมาบวกกัน

abcdeKKU

#Casting int() float() str()

In [23]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [24]:
v_x = str(variable_x)
print(v_x)

-29.200000000000003

In [26]:
float(v_x)

-29.200000000000003

## Data Structure
### list()

list เป็นตัวเลข หรือตัววแปรที่มาต่อๆกัน

In [27]:
list_a = [1,2,0.2,'abs'] # [] = square brackets ใช้เก็บข้อมูลทุกแบบ
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [28]:
list_a

[1, 2, 0.2, 'abs']

In [29]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [30]:
len(list_b) # len = leng = ความยาว

4

In [31]:
list_b[3] #เป็นการชี้ตำแหน่ง list ซึ่งตำแหน่งจะมีตั้งแต่ตำแหน่งที่ 0

[1, 2, 0.0]

In [32]:
list_b[3][1]

2

In [33]:
# string คือ list ของตัวหนังสือ
a = 'Stat KKU'

In [34]:
a[4]

' '

#วิธีการสร้าง list แบบที่ 2

การสร้าง list แบบว่าง

In [35]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

append()เพิ่มสมาชิกหรือการเพิ่มค่าในlist 

โดยใช้คำสั่ง .append

In [36]:
list_d.append('u') # add u in at list d 
print(list_d)

['u']

การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังโดยใช้ negative index

In [37]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [38]:
list_b[-1]

[1, 2, 0.0]

##list slicing

เราสามารถเฉือน หรือเลือกบางส่วนของ list นั้นออกมาได้

In [40]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [41]:
list_ex[1:6] # หมายความว่า เราจะตัดตั้งแต่ตัวหน้า : ไปจนถึงตัวก่อนตัวหลัง : 
# ก็คือเอาตั้งแต่ตัวที่ 1-5

[2, 3, 5, 6, 8]

In [42]:
list_ex[4:] # ไม่ใส่ขอบเขตด้านหลัง

[6, 8, -1, 20, 50, 0]

In [43]:
list_ex[:6] # ไม่ใส่ขอบเขตด้านหน้า

[1, 2, 3, 5, 6, 8]

In [45]:
list_ex[::2] #[จุดเริ่มต้น:จุดขอบเขต:step]

[1, 3, 6, -1, 50]

In [51]:
a

'Stat KKU'

In [52]:
a[5:]

'KKU'

In [53]:
a[-3:]

'KKU'

In [54]:
a[5:8]

'KKU'

In [55]:
a[5::]

'KKU'

In [56]:
a[-3::]

'KKU'

In [57]:
a[-3::1]

'KKU'

step คือ การกระโดดข้าม เช่น ในตัวอย่างจะหมายความว่าเอาทุกตัวโดย จะเอาตัวที่กระโดดข้ามทีละ 2

In [47]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

#list + list

In [48]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [49]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

##format string

```python
f 'string{ตัวแปร}'
```

In [58]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

In [59]:
f'ตัวแปร list_ex มีค่าคือ {list_ex}'

'ตัวแปร list_ex มีค่าคือ [1, 2, 3, 5, 6, 8, -1, 20, 50, 0]'

#Loop



```python
for ตัวแปรที่จะรับค่าจาก list in listที่จะนำมาวนลูป:
    do something
```

In [50]:
for i in[1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [60]:
for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [61]:
list5=[1,2,3,4,5]
for x in list5:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
for i in range(2,7):
     print(i)

2
3
4
5
6

In [66]:
for i in range(2,7,2):
     print(i)

2
4
6

In [65]:
for i in range(5):
     print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [67]:
for i in range(5):
     print('hahaha')
     x = i + 3
     print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

##Nested loop

loopซ้อนloop

In [68]:
for i in range(3):
     for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')

i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5

In [69]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#Condition

#Function